div {
    height: 200px;
    width: 200px;
    display: inline-block;
    position: relative;
}

.top-conteiner {
    background-color: red;
    left: 400px;

}

.middle-conteiner {
    background-color: blue;
    left: -200px;
}

.bottom-conteiner {
    background-color: yellow;
    left: -200px;
}